body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  
  .hangman-container {
    margin-bottom: 20px;
  }
  
  .word-container {
    margin-bottom: 20px;
  }
  
  .letters-container {
    margin-bottom: 20px;
  }
  
  #letters {
    display: inline-block;
  }
  
  .message-container {
    margin-bottom: 20px;
  }
  #hangman-img {
    width: 300px;
    height: 300px;
  }
  